<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Hello React</title>
   <link rel="stylesheet" type="text/css" href="style/page/family/index.css">
</head>
<body>
   <div id="familyApp"></div>
   <script type="text/javascript" src="script/page/familyIndex.js"></script>
</body>
</html>