<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>test redux</title>
</head>
<body>
   <div id="test-redux"></div>
   <script type="text/javascript" src="script/page/testredux.js"></script>
</body>
</html>